<script type="text/x-handlebars-template" id="gridItemTemplate">
	<article itemscope="" itemtype="http://schema.org/IndividualProduct"
			 class="cntListView js_board_item gridItem col-6 col-md-4 col-lg-3 {-{#if isLast}}last{-{/if}}"
			 id="boardItem-{-{id}}"
			 data-pic-ratio="{-{picture.ratio}}"

	>
		<meta itemprop="name" content="{-{title}}">
		<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="main clearfix">
			<div class="picture">
				<figure>
					<a href="{-{url}}" class="js-pictureLink">
						<img itemprop="image" src="{-{picture.big}}" alt="{-{title}}">
					</a>
				</figure>
			</div>

			<div class="gridTitle">
				<h3>
					<a class="gridTitleLink" href="{-{url}}">
						<span class="title">{-{title}}</span>
					</a>
				</h3>
			</div>
			<p class="gridPrice"><strong class="price-value">{-{price}}</strong></p>

			<div class="gridFooter">
				<span class="gridLocation"><span class="gridLocationName">{-{location_info}}</span></span>

			</div>

		</div>

	</article>
</script>
