<script id="modalTpl" type="text/x-handlebars-template">

	<div class="modal fade {-{id}}" id="{-{id}}" tabindex="-1" role="dialog" aria-labelledby="{-{id}}Label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			{-{#if showHeader}}
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">{-{ title }}</h5>
				</div>
			{-{/if}}

			{-{#if showCloseBtn}}<span class="btn btn-link closeBtn" data-dismiss="modal"><i class="icon icon-x"></i></span>{-{/if}}

				<div class="modal-content">
					{-{content}}
				</div>

			{-{#if showFooter}}
				<div class="modal-footer">
					{-{#if cancelActionLabel}}
						<button type="button" class="btn cancelBtn btn-default" data-dismiss="modal">{-{ cancelActionLabel }}</button>
					{-{/if}}
					<button type="button" class="btn proceedBtn btn-primary">{-{ proceedActionLabel }}</button>
				</div>
			{-{/if}}
		</div>
	</div>

</script>