<script id="shopelloItemTemplate" type="text/x-handlebars-template" data-category="331">
	<article itemscope="" itemtype="http://schema.org/IndividualProduct" class="cntListView js_board_item gridItem col-6 col-md-4 col-lg-3 noPhone shopelloItem">
		<meta itemprop="name" content="{-{title}}">
		<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="main clearfix">
			<div class="picture">
				<figure>
					<a href="{-{url}}" target="_blank" class="js-pictureLink pictureLink">
						<img itemprop="image" src="{-{picture}}" alt="{-{title}}">
					</a>
				</figure>
			</div>

			<div class="gridTitle">
				<h3>
					<a class="gridTitleLink" href="{-{url}}" target="_blank"><span>{-{title}}</span></a>
				</h3>
			</div>
			<p class="gridPrice">
				<strong class="price-value">{-{regular_price}}</strong>
			</p>

			<div class="gridFooter ">
				<span class="gridLocation"><span class="gridLocationName">Annons från <img src="//shopello-cdn.mytaste.org/www/img/logo.png" style="width: auto; height:12px;margin-top:4px;" alt="Shopello"></span></span>
			</div>

		</div>

	</article>
</script>