<div class="contact-wrapper row">

	<section class="contact mx-auto">
		<div class="ownerInfoWrp">

			<div itemprop="seller" itemscope="" itemtype="http://schema.org/Person" class="ownerInfo">
				<div class="avatar mx-auto">
					<a class="avatar-link" href="/utilisateur-158386/">
						<img class="avatar-img" src="http://babalisteavatarthumbs.blob.core.windows.net/default/56/c9/b6/user-158386.jpg?time=1485512177" alt="Younes">
					</a>
				</div>
				<a class="name" href="/utilisateur-158386/">
					<strong itemprop="name">Younes</strong>
				</a>
				<p class="ownerLocation">Casablanca</p>

			</div>

		</div>
		<div class="askSeller">


			<btn class="btn btn-primary btn-xl btn-block sendPrivateMessageBtn showDoorLayer">
				<span class="text"><i class="icon icon-chat-full left"></i>Chat</span>
			</btn>
			<btn id="makeOfferBtn" class="btn btn-secondary btn-xl btn-block showDoorLayer makeOfferBtn"><span class="text"><i class="icon icon-tag-full left"></i>Faire un offre</span></btn>



		</div>
		<div class="seeAllOffers">
			<a class="btn btn-lg btn-block seeAllOffersLink" href="/personen-158386">
				<span class="text">Afficher plus d'annonces &raquo;</span>
			</a>
		</div>
	</section>

</div>