<header class="cb-details-header clearfix">

	{{#unless data.isMobile }}
		<span class="price">
			<strong class="price-value">
				<span itemprop="price">900&nbsp;DH</span>
			</strong>
		</span>
	{{/unless}}

	<h1 class="title fade-to-left">
		<span class="title-text">WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</span>
	</h1>

</header>