<div class="favoriteOffer">
	<button class="btn btn-link btn-block favoriteOfferLink favoriteOfferAddLink showDoorLayer"><i class="icon icon-heart"></i> Spara annons</button>
</div>

<script type="text/x-handlebars-template" id="favoritesLinkTemplate">
	<a data-bid="{-{id}}"
	   data-type="{-{type}}"
	   title="{-{title}}"
	   class="favoriteOfferLink {-{classname}}"
	>
		<i class="icon {-{iconType}}"></i> {-{title}}
	</a>
</script>
