<section id="details-gallery" class="gallery row">
	<a href="/" id="backToOffersBtn" class="backToOffersBtn hidden-md-up"><i class="icon icon-angle-left"></i> Voir toutes les annonces</a>

	<div class="picture hasMorePictures mx-auto">
		<figure id="galleryImgWrapper" class="galleryImgWrapper">
			<img itemprop="image" class="img-full offerPicture js-offer-picture"
				 data-index="0"
				 src="http://babalistethumbs.blob.core.windows.net/1024x768/9f/2e/e1/pochette-iphone-6-6s-anti-choque-15618.jpg"
				 alt="Pochette iphone 6 / 6s anti choque ">

			<img itemprop="image" class="img-full offerPicture js-offer-picture hidden"
				 data-index="1"
				 src="http://babalistethumbs.blob.core.windows.net/1024x768/c8/d9/62/pochette-iphone-6-6s-anti-choque-casablanca-salj-15619.jpg"
				 alt="Pochette iphone 6 / 6s anti choque  Casablanca Sälj">


			<img itemprop="image" class="img-full offerPicture js-offer-picture hidden"
				 data-index="2"
				 src="http://babalistethumbs.blob.core.windows.net/1024x768/4f/4e/79/pochette-iphone-6-6s-anti-choque-casablanca-15620.jpg"
				 alt="Pochette iphone 6 / 6s anti choque  Casablanca">


			<img itemprop="image" class="img-full offerPicture js-offer-picture hidden"
				 data-index="3"
				 src="http://babalistethumbs.blob.core.windows.net/1024x768/30/1d/ee/pochette-iphone-6-6s-anti-choque-casablanca-15621.jpg"
				 alt="Pochette iphone 6 / 6s anti choque  Casablanca">


			<img itemprop="image" class="img-full offerPicture js-offer-picture hidden"
				 data-index="4"
				 src="http://babalistethumbs.blob.core.windows.net/1024x768/90/b2/89/pochette-iphone-6-6s-anti-choque-casablanca-15622.jpg"
				 alt="Pochette iphone 6 / 6s anti choque  Casablanca">

		</figure>
		<div class="bullets">
			<a href="http://babalistethumbs.blob.core.windows.net/1024x768/9f/2e/e1/pochette-iphone-6-6s-anti-choque-15618.jpg"
			   class="bullet first selected"
			   data-index="0"
			>
				<span class="bullet-dot"><em class="alt">0</em></span>
			</a>
			<a href="http://babalistethumbs.blob.core.windows.net/1024x768/c8/d9/62/pochette-iphone-6-6s-anti-choque-casablanca-salj-15619.jpg"
			   class="bullet"
			   data-index="1"
			>
				<span class="bullet-dot"><em class="alt">1</em></span>
			</a>
			<a href="http://babalistethumbs.blob.core.windows.net/1024x768/4f/4e/79/pochette-iphone-6-6s-anti-choque-casablanca-15620.jpg"
			   class="bullet"
			   data-index="2"
			>
				<span class="bullet-dot"><em class="alt">2</em></span>
			</a>
			<a href="http://babalistethumbs.blob.core.windows.net/1024x768/30/1d/ee/pochette-iphone-6-6s-anti-choque-casablanca-15621.jpg"
			   class="bullet"
			   data-index="3"
			>
				<span class="bullet-dot"><em class="alt">3</em></span>
			</a>
			<a href="http://babalistethumbs.blob.core.windows.net/1024x768/90/b2/89/pochette-iphone-6-6s-anti-choque-casablanca-15622.jpg"
			   class="bullet last"
			   data-index="4"
			>
				<span class="bullet-dot"><em class="alt">4</em></span>
			</a>
		</div>

		<div class="thumbnails row hidden-sm-down">

				<span class="thumbnail withImage col first">
					<a class="thumbnail-link selected"
					   data-index="0"
					   href="http://babalistethumbs.blob.core.windows.net/1024x768/9f/2e/e1/pochette-iphone-6-6s-anti-choque-15618.jpg">
						<img src="http://babalistethumbs.blob.core.windows.net/109x93/9f/2e/e1/pochette-iphone-6-6s-anti-choque-15618.jpg"
							 alt="Pochette iphone 6 / 6s anti choque " class="thumbnail-image">
					</a>
				</span>

			<span class="thumbnail withImage col">
					<a class="thumbnail-link"
					   data-index="1"
					   href="http://babalistethumbs.blob.core.windows.net/1024x768/c8/d9/62/pochette-iphone-6-6s-anti-choque-casablanca-salj-15619.jpg">
						<img src="http://babalistethumbs.blob.core.windows.net/109x93/c8/d9/62/pochette-iphone-6-6s-anti-choque-casablanca-salj-15619.jpg"
							 alt="Pochette iphone 6 / 6s anti choque  Casablanca Sälj" class="thumbnail-image">
					</a>
				</span>

			<span class="thumbnail withImage col">
					<a class="thumbnail-link"
					   data-index="2"
					   href="http://babalistethumbs.blob.core.windows.net/1024x768/4f/4e/79/pochette-iphone-6-6s-anti-choque-casablanca-15620.jpg">
						<img src="http://babalistethumbs.blob.core.windows.net/109x93/4f/4e/79/pochette-iphone-6-6s-anti-choque-casablanca-15620.jpg"
							 alt="Pochette iphone 6 / 6s anti choque  Casablanca" class="thumbnail-image">
					</a>
				</span>

			<span class="thumbnail withImage col">
					<a class="thumbnail-link"
					   data-index="3"
					   href="http://babalistethumbs.blob.core.windows.net/1024x768/30/1d/ee/pochette-iphone-6-6s-anti-choque-casablanca-15621.jpg">
						<img src="http://babalistethumbs.blob.core.windows.net/109x93/30/1d/ee/pochette-iphone-6-6s-anti-choque-casablanca-15621.jpg"
							 alt="Pochette iphone 6 / 6s anti choque  Casablanca" class="thumbnail-image">
					</a>
				</span>

			<span class="thumbnail withImage col last">
					<a class="thumbnail-link"
					   data-index="4"
					   href="http://babalistethumbs.blob.core.windows.net/1024x768/90/b2/89/pochette-iphone-6-6s-anti-choque-casablanca-15622.jpg">
						<img src="http://babalistethumbs.blob.core.windows.net/109x93/90/b2/89/pochette-iphone-6-6s-anti-choque-casablanca-15622.jpg"
							 alt="Pochette iphone 6 / 6s anti choque  Casablanca" class="thumbnail-image">
					</a>
				</span>
		</div>

	</div>

	{{#if data.isMobile }}
		<a href="/personen-158441" class="offerDetailsStick hidden-sm-up">

			<span class="avatar small">
				<span class="avatar-link">
					<img class="avatar-img" src="http://babalisteavatarthumbs.blob.core.windows.net/default/56/c9/b6/user-158386.jpg" alt="Younes">
				</span>
			</span>

			<span class="offerDetailsStickDetails">
				<span class="price">
					<strong class="price-value">
						<span itemprop="price">900&nbsp;DH</span>
					</strong>
				</span>
				<p class="name text-truncate"><span class="name-text text-nowrap">Younes</span></p>
			</span>

		</a>
	{{/if}}

</section>

<script id="galleryNavTpl" type="text/x-handlebars-template">
	<a class="galleryBtn btnPrev js-gallery-nav-btn" data-direction="-1">
		<span class="btn"><i class="icon icon-angle-left-tiny"></i></span>
	</a>
	<a class="galleryBtn btnNext js-gallery-nav-btn" data-direction="1">
		<span class="btn"><i class="icon icon-angle-right-tiny"></i></span>
	</a>
</script>

<script id="fsGalleryTpl" type="text/x-handlebars-template">
	<div class="full-screen-gallery" id="fsGallery">
		<div class="thumbnails-wrapper">
			{-{#each thumbnails}}
				<a href="{-{imgSrc}}"
				   class="thumbnail-link{-{#if  selected}} selected{-{/if}}"
				   data-index="{-{index}}"
				>
					<img class="img-fluid" src="{-{thumbSrc}}" alt="{-{title}}">
				</a>
			{-{/each}}
		</div>
		<div class="content">
			<picture class="pictureWrapper">

				<div class="image-box{-{#if isLoading}} processing{-{/if}}">
					<span class="btn btn-link closeBtn" data-dismiss="modal"><i class="icon icon-circle-x"></i></span>
					{-{#each pictures}}

						<img class="main-picture {-{#unless selected}} hidden{-{/unless}}"
							 data-index="{-{index}}"
							 src="{-{imgSrc}}"
							 alt="{-{title}}"
						>
					{-{/each}}
				</div>

				<button class="fsGalleryBtn btnPrev" data-direction="-1">
					<span class="btn"><i class="icon icon-angle-left"></i></span>
				</button>
				<button class="fsGalleryBtn btnNext" data-direction="1">
					<span class="btn"><i class="icon icon-angle-right"></i></span>
				</button>

			</picture>
			<div id="fsGalleryCloseLayer" class="close-layer" data-dismiss="modal"></div>
		</div>
	</div>
</script>
