<section class="locationSection">
	<h4 class="locationName"><span><i class="icon icon-pin-dark"></i> Grand Casablanca, Mediouna</span></h4>
	<div id="gmapOnDetails" class="map-wrapper processing" data-lat="33.445674669321" data-lng="-7.5121418049503" data-location="Grand Casablanca, Mediouna">

	</div>
</section>