<div class="actions">
	<h3 class="actionsHeader">Partager cette annonce:</h3>


	<button id="offerShareItemOnFbBtn" class="btn btn-round shareItemOnFbBtn offerShareItemOnFbBtn" data-item_id="1649" data-item_title="Test Tu Jest I Tyle" data-item_picture="http://babalistethumbs.blob.core.windows.net/1024x768/87/35/2f/test-tu-jest-i-tyle-173.jpg" data-item_url="http://dev-tdziuba.babaliste.com/test-tu-jest-i-tyle,1649">
		<i class="icon icon-fb"><span class="sr-only">Partager</span></i>
	</button>

	{{#if data.isMobile}}
		<button id="offerShareByWhatsapp" class="btn btn-round shareByWhatsappBtn" href="whatsapp://send?text=Salut%2C+Je+viens+de+d%C3%A9couvrir+cette+offre+et+pens%C3%A9+que+vous+pourriez+%C3%AAtre+int%C3%A9ress%C3%A9 http://dev-tdziuba.babaliste.com/test-tu-jest-i-tyle,1649" data-action="share/whatsapp/share"><i class="icon icon-whatsapp"></i></button>
	{{/if}}

	<a href="mailto:?subject=‘Test Tu Jest I Tyle’ sur Babaliste&amp;body=Cliquez ici pour voir le produit ‘Test Tu Jest I Tyle’ sur Babaliste: %0A %0Ahttp://dev-tdziuba.babaliste.com/test-tu-jest-i-tyle,1649" id="offerShareByEmail" class="btn btn-round shareByEmailBtn"><i class="icon icon-message"></i></a>

	<button id="offerShareByLink" class="btn btn-round shareByLinkBtn" data-url="http://dev-tdziuba.babaliste.com/test-tu-jest-i-tyle,1649"><i class="icon icon-link"></i></button>

	<script id="copyToClipboardPopupTemplate" type="text/x-handlebars-template">
		<div class="copyToClipboardWrapper">
			<div class="copyToClipboardWrapperBody afterFormSubmit">
				<h3 class="title">Appuyez sur CTRL + C, ENTER pour copier l'url:</h3>
				<div class="textareaWrp">
					<i class="icon icon-link"></i>
					<textarea id="copyToClipboardArea" class="copyToClipboardArea" readonly>http://dev-tdziuba.babaliste.com/test-tu-jest-i-tyle,1649</textarea>
				</div>
				<div class="buttonsWrapper">
					<button id="copyToClipboardWrapperBtn" class="btn btn-xl btn-full btn-primary">Copier le lien &raquo;</button>
				</div>
			</div>
			<div class="copyToClipboardSuccess afterFormSubmit hidden">
				<div class="messageBox">
					<p class="infoS02Tick infoTickC02 infoC02">Le lien vers l'annonce a été copié!</p>
				</div>
				<div class="buttonsWrapper">
					<button id="copyToClipboardCloseBtn" class="btn btn-xl btn-full btn-secondary">OK &raquo;</button>
				</div>
			</div>
		</div>

	</script>

</div>