<button id="reportOffer" class="btn btn-link btn-block reportOffer" data-id="1649"><span class="reportOfferText">Rapportera produkt / användare</span></button>

<script id="reportOfferTemplate" type="text/x-handlebars-template">
	<form id="reportOfferBox" class="reportOfferBox">
		<legend class="title">Rapportera produkt / användare</legend>
		<label class="reportTypeBtn type0"><input class="reportTypeInput" type="radio" name="report" value="0"><span class="reportTypeBtnLabel">Olagliga varor</span></label>
		<label class="reportTypeBtn type1"><input class="reportTypeInput" type="radio" name="report" value="1"><span class="reportTypeBtnLabel">Bedrägeri</span></label>
		<label class="reportTypeBtn type2"><input class="reportTypeInput" type="radio" name="report" value="2"><span class="reportTypeBtnLabel">Dyker inte upp</span></label>
		<label class="reportTypeBtn type3"><input class="reportTypeInput" type="radio" name="report" value="3"><span class="reportTypeBtnLabel">Spam</span></label>
		<label class="reportTypeBtn type4"><input class="reportTypeInput" type="radio" name="report" value="4"><span class="reportTypeBtnLabel">Olämpligt beteende</span></label>
		<label class="reportTypeBtn type5"><input class="reportTypeInput" type="radio" name="report" value="5"><span class="reportTypeBtnLabel">Övrigt</span></label>

		<div class="reportFormReasonWrp">
			<textarea id="reportOfferReasonField" class="input reportOfferBoxReasonField" placeholder="Ytterligare information..."></textarea>
		</div>
		<div class="btnWrapper">
			<button class="btn btn-block btn-xl btn-primary sendReportBtn">Rapportera</button>
		</div>
	</form>
	<div id="reportOfferBoxConfirmation" class="confirmationBox hidden">
		<div class="messageBox">
			<p class="infoTick"><i class="icon icon-tick-circle"></i> Tack, din anmälan har skickats.</p>
		</div>
		<div class="btnWrapper">
			<button class="btn btn-block btn-xl btn-primary closeConfirmBtn">Ok &raquo;</button>
		</div>
	</div>
</script>
