@import '~bootstrap/scss/mixins/breakpoints';
@import './searchbar';
@import './side-menu';

.cb-header {
    @include linear-gradient(to right, #f7552b 0%, #f77227 100%);

    will-change: scroll-position;
    height: 100%;
    max-height: 60px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    box-shadow: 0 2px 2px rgba(50, 50, 50, 0.3);

    .logo {
        background: url("../img/logo-white.png") no-repeat 0 50%;
        width: 195px;
        height: 40px;
        background-size: contain;
    }

    .container {
        position: relative;
    }

}

.cb-header .login-btn {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-bg);
    padding: 0 8px;
    height: 40px;
    text-transform: uppercase;
}
.cb-header .add-offer-btn {
    font-size: 20px;
}

.cb-header .user-actions-wrp {
    position: absolute;
    right: 0;
    width: 404px;
}

// desktopy i wyżej
@include media-breakpoint-up(lg) {
    .cb-header {
        max-height: 80px;
    }
    .cb-header .container .col {
        margin-top: 20px;
    }

    .cb-header .navbar-header {
        padding: 0;
    }
    .cb-header .logo {
        width: 100%;
    }
    .cb-header .add-offer-btn {
        font: 600 15px/40px 'Open Sans',Arial,sans-serif;
        text-transform: uppercase;
        max-width: 234px;
        width: 100%;
        padding: 0;
        float: right;
        box-shadow: none;
        box-sizing: content-box;
        border-bottom: 2px solid #5292af;
        border-radius: 20px;
        .icon {
            font-size: 30px;
            margin-top: -3px;
        }
    }
    .cb-header .login-btn {
        strong {
            font-weight: 400;
            vertical-align: bottom;
        }
        .icon {
            font-size: 23px;
        }
    }
    .cb-header .search-bar-wrp .search-form {
        margin-right: 390px;
    }
}

@include media-breakpoint-only(lg) {
    .cb-header .navbar-header {
        padding: 0 8px;
    }
    .cb-header .search-bar-wrp {
        padding: 0;

        .search-form {
            margin-right: 390px;
            margin-left: 8px;
        }
    }

}

// komórki i tablety
@include media-breakpoint-down(md) {
    .cb-header .container {
        width: 100%;
        padding: 0;
    }
    .cb-header .navbar-header {
        position: relative;
        height: 60px;
        z-index: 0;
        width: 100%;

        .btn-search-activator,
        .btn-get-mobile-app,
        .navbar-toggle {
            position: relative;
            z-index: 2;
            color: #fff;
            width: 20px;
            height: 100%;
            line-height: 60px;
            display: inline-table;
            text-align: center;

            .icon {
                font-size: 21px;
                vertical-align: middle;
                display: table-cell;
            }

        }

        .navbar-toggle {
            float: left;
            font-size: 22px;
            width: 22px;
            padding: 0 30px 0 8px;
            height: 60px;
            line-height: 60px;
        }

        .btn-search-activator,
        .btn-get-mobile-app {
            float: right;
            width: 30px;
            padding: 0 8px;
        }

        .btn-search-activator {
            width: 38px;
        }

        .btn-get-mobile-app + .btn-search-activator {
            padding: 0 32px 0 8px;
            width: 30px;
            &:after {
                content: "";
                display: inline-block;
                height: 30px;
                width: 1px;
                background: #fff;
                position: absolute;
                right: 0;
                top: 50%;
                margin: -15px 0 0 0;
            }
        }

        .logo {
            background-position: 50% 50%;
            background-size: 190px auto;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            min-width: 126px;

            @include media-breakpoint-down(md) {
                background-size: 170px auto;
            }
        }
    }


}

@include media-breakpoint-down(xs) {

    .cb-header .navbar-header {
        width: 100%;
    }

    .cb-header .navbar-header .logo {
        background-size: 150px auto;
    }

}
