.cb-header .search-bar-wrp {

    .unset-phrase {
        position: absolute;
        z-index: 3;
        width: 44px;
        height: 40px;
        text-align: center;
        border: 0;
        background: none;
        right: 8px;
        top: 0;

        .unset-phrase-btn {
            background: $gray-light;
            border-radius: 100%;
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 24px;
            display: inline-table;
            vertical-align: middle;
            margin-top: -4px;
        }
        .icon {
            color: #fff;
            font-size: 12px;
            display: table-cell;
            vertical-align: middle;
        }

    }

    .search-form .inputWrp:before {
        content: "\e90c";
        font-family: 'Conv_cb-icons' !important;
        font-size: 24px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        color: #ad9999;
        top: 3px;
        left: 8px;


    }

    .search-input {
        padding-left: 40px;
    }

    // komórki i tablety
    @include media-breakpoint-down(md) {
        .search-form {
            background: #fff;
            padding: 8px;

            .search-btn {
                @include button-variant(#fff, $secondary-color, $secondary-color);
                margin-top: 8px;
            }
        }
        .search-form .inputWrp:before {
            left: 12px;
        }
    }

    // desktopy i wyżej
    @include media-breakpoint-up(lg) {
        padding: 0;

        .col {
            margin: 0;
            padding: 0;
            &.search-btn-wrp {
                padding-right: 16px;
            }
        }

        .search-input {
            border-width: 0;
            border-radius: $border-radius-lg 0 0 $border-radius-lg;
        }

        .search-btn {
            padding: 0;
            height: 40px;
            border-width: 0;
            border-radius: 0 $border-radius-lg $border-radius-lg 0;
            text-transform: uppercase;
            font: 400 16px/38px 'Open Sans',Arial,sans-serif;
            will-change: height, background-color;
            background-color: #e0dede;
            color: #665858;
        }

    }
}
.cb-header .container .search-bar-wrp .col {
    margin-top: 0;
}