.breadcrumbs {
    display: block;
    padding: 35px 0 28px;

    .breadcrumb {
        margin-bottom: 0;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        color: $gray-light;
        font-size: 7px;
        content: '\E915';
        @include icon-font();
    }

    .breadcrumb-item-link {
        color: $sec-header-color;
        font-size: 14px;
    }
}