.favoriteOffer {
    width: auto;
    padding: 30px 10px 12px;
    text-align: center;
    position: relative;
    text-transform: capitalize;

    .favoriteOfferLink {
        font-size: 16px;
        color: $secondary-color;
        line-height: normal;
        font-weight: 600;
        text-decoration: none;
        padding: 0;

        &:hover {
            color: $gray-dark;
        }
    }

    .icon {
        font-size: 27px;
    }

}

.seeMore + .favoriteOffer {
    margin-top: 70px;
    border-top: 1px solid #e1e1e1;
}

@include media-breakpoint-down(sm) {
    .favoriteOffer {
        padding: 35px 10px 30px;
        margin: 0 -15px;
        border-bottom: 1px solid $sec-separator-color;
    }
}