.cb-details-header {
    margin: 10px 0 20px;
    overflow: hidden;

    .price {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 1;
        background: #fff;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -40px;
            width: 40px;
            height: 100%;

            @include gradient-x(rgba(255,255,255, 0.1), #fff, 0%, 100%);
        }

        .price-value {
            display: block;
            font: 600 28px / normal 'Open Sans',Helvetica,Arial,sans-serif;
            padding: 5px 6px;
            color: $primary-color;
        }
    }

    .title {
        margin: 0;
        font-size: 24px;
        line-height: normal;
        color: $sec-header-color;
    }

}

@include media-breakpoint-only(md) {
    .cb-details-header .price {
        top: 2px;
        right: 6px;
    }
}

@include media-breakpoint-down(sm) {

    .cb-details-header {
        margin: 10px -5px 10px;
        position: relative;
    }

    .cb-details-header .price {
        top: 0;
        right: 0;

        .price-value {
            font-size: 23px;
        }
    }

    .cb-details-header .title {
        font-size: 18px;
        font-weight: 400;
    }

}
