.actions {
    padding: 20px 0 75px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 370px;
    position: relative;

    .actionsHeader {
        font-size: 16px;
        font-weight: 600;
        color: $gray;
        margin: 21px auto 27px;
    }

    .btn-round {
        color: #fff;
        font-size: 30px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin: 0 5px;

        .icon {
            color: #fff;
            vertical-align: text-top;
        }
    }

    .offerShareItemOnFbBtn {
        background: #3b5998;
    }

    .shareByWhatsappBtn {
        background: #7bc06a;
    }

    .shareByEmailBtn {
        background: #5fc37b;

        .icon {
            margin-top: 4px;
        }
    }

    .shareByLinkBtn {
        background: #665858;
    }

}

@include media-breakpoint-down(sm) {
    .actions {
        padding: 20px 0 40px;
    }
}
