{{{ data.header }}}

<div id="cbContent" class="cb-content">
	<div class="container">

		{{{ data.breadcrumbs }}}

		<article class="cb-details">
			<meta itemProp="name" content="Smartwatch Neuf">
			<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="main clearfix">

				{{#unless data.isMobile }}
					{{{ data.detailsHeader }}}
				{{/unless}}

				<div class="cb-details-section main-content col-sm-12 col-md-7 col-lg-8">
					{{{ data.detailsGallery }}}

					{{#if data.isMobile }}
						{{{ data.detailsHeader }}}
						{{{ data.descriptionWrapper }}}
					{{/if}}

					{{#unless data.isMobile }}
						{{{ data.locationWrapper }}}
					{{/unless}}

					{{#if data.isMobile }}
						{{{ data.locationWrapper }}}
						{{{ data.favoritesWrapper }}}
					{{/if}}

					{{#if data.isMobile }}
						{{{ data.actionsWrapper }}}
					{{/if}}
				</div>

				<div class="cb-details-section details-info col-sm-12 col-md-5 col-lg-4">

					{{{ data.contactWrapper }}}

					{{#unless data.isMobile }}
						{{{ data.descriptionWrapper }}}
						{{{ data.favoritesWrapper }}}
					{{/unless}}

					{{#unless data.isMobile }}
						{{{ data.actionsWrapper }}}
					{{/unless}}

					{{{ data.reportWrapper }}}
				</div>

			</div>
		</article>

	</div>
</div>

{{{ data.footer }}}