{{{ data.header }}}

<div id="cbContent" class="cb-content">
	{{{data.sectionTop}}}
	<section class="container cb-board hasAds">
		<div class="feed-header">{{{data.listSort}}}</div>
		{{{ data.tagCloud }}}

		{{{ data.feed }}}
		<div class="cb-section cb-section-first">
			<div id="id_103" class="opxBox desk hidden-md-down hidden">
				<div class="ad">
					<script type="text/lazyad">
					<!--

					<a href="http://www.mobilfynd.se/?utm_source=citiboard&utm_campaign=cbjan&utm_medium=banner" target="_blank">
						<img src="https://www.fillmurray.com/250/600" alt="Mobilfynd.se">
					</a>
					-->
					</script>
				</div>
			</div>
		</div>
		<div class="cb-section cb-section-second">
			<div id="id_104" class="opxBox desk hidden-md-down hidden">
				<div class="ad">
					<script type="text/lazyad">
					<!--

					<a href="http://www.mobilfynd.se/?utm_source=citiboard&utm_campaign=cbjan&utm_medium=banner" target="_blank">
						<img src="http://static-cdn.citiboard.se/540/img/ads/citiboard-sky-mobilfynd.jpg" alt="Mobilfynd.se">
					</a>
					-->
					</script>
				</div>
			</div>
		</div>

	<button id="loadMoreOffersBtn" class="btn btn-secondary btn-large load-more-offers-btn" data-location="1" data-category="1" data-search-text="">
		<i class="icon icon-plus"></i> <span>Ladda mer</span>
	</button>


	{{{ data.gridItemTpl }}}
	{{{ data.shopelloTpl }}}

	<!--
	<button id="shareBtn" class="btn btn-primary large">Share on FB <i class="icon fb-icon"></i></button>
	-->
	</section>

	<div class="cb-section cb-section-bottom">
		<div id="id_102" class="opxBox desk hidden">
			<div id="bmone2n-20313.1.15.1"></div>
		</div>
	</div>

</div>

{{{ data.footer }}}