<!doctype html>
<html lang="se_SV">
<head>
	<title>New Citiboard Front</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=latin-ext" rel="stylesheet">
	<link href="/assets/webfonts/initfonts.css" rel="stylesheet">
	<link href="/assets/css/{{data.script}}.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="/assets/js/cbApp.commons.js"></script>

	{{{ data.gridItemTpl }}}
	{{{ data.gridScript }}}
</head>
<body id="bodyId">

<div id="layWrp" class="layWrp">{{{ data.html }}}</div>


<script src="/assets/js/cbApp.{{data.script}}.js"></script>
<script>
	window.cbApp = {
		fb_appId: "401652553214093",
		userFBAvatarPostfix: 0,
		appMode: "development",
		gmap_key: 'AIzaSyADXNARHj-ii6lbRRIy6mO5m8HuGHB75Z0',
		gmap_static_key: 'jd_TuETJpgkfKsgkQWv5gWZds6g=',
		utils: {}
	};
</script>

<!--[if lt IE 9]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
{{{ data.oneSignal }}}
{{{ data.ads }}}
{{{ data.modalTpl }}}

</body>
</html>