@import "~bootstrap/scss/mixins/breakpoints";
.cb-board {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    .cb-board-list {
        will-change: padding;
        position: relative;
    }
    .cb-board-list.processing {
        &:after {
            top: 75px;
        }

        .gridItem {
            visibility: hidden;
        }
    }
    .cb-section {
        display: table;
        text-align: center;
        vertical-align: top;

        .stckWrp {
            width: 100%;
            position: relative;
        }
        .opxBox {
            display: table-cell;

            &.tabl.isSticky,
            &.desk.isSticky {
                position: fixed;
                top: 100px;
                z-index: 9999;

                @include media-breakpoint-down(sm) {
                    display: none;
                    width: 0;
                }
            }
            .desk, .tabl {
                @include media-breakpoint-down(sm) {
                    display: none;
                    width: 0;
                }
            }
            .desk {
                @include media-breakpoint-down(md) {
                    display: none;
                    width: 0;
                }
            }
        }
    }
    &.hasAds {
        @include media-breakpoint-up(lg) {

            .cb-board-list {
                display: block;
                width: 100%;
            }

            .masonry-layout {
                margin-right: 170px;
                margin-left: 270px;
            }

            .cb-section-first {
                width: 250px;
                position: absolute;
                left: 0;
                top: 0;
            }

            .cb-section-second {
                width: 160px;
                position: absolute;
                right: 0;
                top: 0;
                min-height: 30px;
            }

        }

        @include  media-breakpoint-only(lg) {
            .masonry-layout .gridItem,
            .cb-sidebar {
                width: 33.3333%;
            }
        }
    }

    .masonry-layout {
        position: relative;
        margin-left: 16px;

        @include media-breakpoint-down(sm) {
            margin-left: 9px;
        }
    }

}

// tag cloud
.tagCloud {
    max-width: 1280px;
    margin: 35px auto;
    padding: 3px 10px;
    background: #f1f1f1;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;

    .tagCloudHeader {
        will-change: margin;
        color: #9ea3a7;
        font-size: 16px;
        line-height: 19px;
        min-height: 20px;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
        }
    }

    .tagCloudBtn {
        float: right;
        background: transparent;
        cursor: pointer;
        font-size: 12px;
        padding: 2px 8px;
        color: $sec-header-color;
        font-weight: bold;
    }

    .tagCloudList {
        will-change: max-height, opacity;
        opacity: 0;
        max-height: 0;
        @include transition(opacity 0.3s linear, max-height 0.3s linear);
    }

    .tagCloudLink {
        color: $sec-header-color;
        font-size: 14px;
        line-height: 20px;
        padding: 1px 2px 1px 0;
        margin: 0 3px 0 0;
        display: inline-block;

        &:hover {
            color: $gray;
            text-decoration: underline;
        }
    }
}
.tagCloud.open {
    background: transparent;

    .tagCloudHeader {
        will-change: margin;
        margin-bottom: 0.5rem;
    }

    .tagCloudBtn {
        background: darken($body-bg, $hover-percentage);
        font-weight: normal;
    }

    .tagCloudList {
        will-change: max-height, opacity;
        display: inline-block;
        opacity: 1;
        max-height: 1500px;
        @include transition(opacity 0.3s linear, max-height 0.3s linear);
    }
}

.itemListSort {
    display: none;

    @include media-breakpoint-up(lg) {
        display: inline-block;
        position: relative;
        top: -44px;
        z-index: 2;
        width: auto;
        float: right;
        margin: 0 10px 0 -10px;

        .activator {
            font-size: 14px;
            line-height: 1;
            background: #f1f1f1;
            border: 1px solid #f1f1f1;
            color: #676767;
            padding: 4px 5px 4px 7px;
            cursor: pointer;
            text-decoration: none;
        }

        .which {
            font-style: normal;
        }
        .dropdown-menu {
            font-size: 10px;
            min-width: 150px;
            z-index: 1;
            top: 20px;
            right: 0;
            left: inherit;
            background: #fff;
            border: 1px solid #ccc;
            padding: 9px 15px 7px 16px;
            border-radius: 3px 0 3px 3px;

            .dropdown-item {
                display: block;
                font-size: 13px;
                color: #f96132;
                line-height: 18px;
                padding-left: 21px;
                white-space: nowrap;
                list-style: none;

                span {
                    display: inline-block;
                    color: #666;
                    box-sizing: border-box;
                    border-bottom: 1px solid transparent;
                }

                &:hover {
                    background: none;
                    span {
                        border-bottom: 1px solid $primary-color;
                    }
                }
            }
        }
        .selected {
            position: relative;
            .icon {
                margin: 0 5px 0 -21px;
                font-size: 12px;
                color: $primary-color;
            }
        }

        &.open {
            .activator {
                padding-top: 4px;
                padding-bottom: 4px;
                z-index: 2;
                position: relative;
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 0 none;
                border-radius: 0;
                color: #b4b4b4;
                text-decoration: none;
            }
            .dropdown-menu {
                display: table;
            }
        }

    }
}

// load more button
.load-more-offers-btn {
    width: 100%;
    max-width: 254px;
    display: block;
    margin: 30px auto;
    clear: both;

    .icon {
        font-size: 14px;
        vertical-align: baseline;
    }
    &:first-letter {
        text-transform: uppercase;
    }
}

.load-more-offers-btn.processing,
.load-more-offers-btn.processing:hover {
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
}
