.cb-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 0;
    margin-right: 0;
    box-sizing: border-box;


    @include media-breakpoint-up(lg) {
        width: 25%;
        padding: 0 10px 0 0;
    }

    @include media-breakpoint-down(md) {
        width: 33.3333%;
        padding: 0 10px 0 0;
    }

    @include media-breakpoint-down(sm) {
        display: none;
        padding: 0;
    }

}

.cntTree {
    border: 1px solid #eaeaea;
    @include shadow(0.1);
    border-radius: 6px;
    background-clip: border-box;
    overflow: hidden;
    margin-bottom: 10px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    .selectedLevel ul {
        padding: 0;
        margin: 0;
    }

    .cntTreeHeader {
        @include clearfix;

        background: #fff;
        position: relative;
        border-bottom: 1px solid #dddbdc;
        strong {
            font-weight: normal;
            color: $gray-dark;
        }

        @include media-breakpoint-up(lg) {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        @include media-breakpoint-down(lg) {
            border-radius: 0;
        }
    }

    .selectable .label:after {
        display: none;
    }
    .closeBtn {
        display: none;
    }

    .headerItem {
        height: 40px;
        line-height: 43px;
        background: #fff;
        font-size: 16px;
        color: $gray-dark;
        font-weight: 600;
        list-style: none;
        //border-top: 1px solid #efebeb;
        .area {
            margin-left: 16px;

            @include media-breakpoint-up(md) {
                margin-left: 10px;
            }
        }
        &.first {
            border-top: 0;
        }
    }
    .selectable {
        background: #fff;
        border-top: 1px solid #efebeb;
        line-height: 60px;
        height: 60px;
        overflow: hidden;
        list-style: none;
        &.root {
            border: 0;
            background: none;
            .area:hover {
                background: none;
            }
        }
        &:first-child {
            border-top: 0;
        }
        .area {
            color: $gray-dark;
            font-size: 14px;
            display: block;
            padding: 0 0 0 16px;
            line-height: 60px;
            .icon {
                margin: 0 14px 0 0;
                font-size: 24px;
            }
            .icon-vetements-et-accesso {
                margin: 0 11px 0 3px;
            }
            .icon-pour-enfant-et-bebe {
                margin: 0 16px 0 -2px;
            }
            .icon-telephones {
                font-size: 34px;
                margin: 0 9px 0 -5px;
            }
            &:hover {
                background: #e2f8ff;
            }


            @include media-breakpoint-up(md) {
                @include clearfix;

                font-size: 14px;
                padding: 0 10px;


                .icon {
                    margin: 0 8px 0 0;
                    display: block;
                    float: left;
                }
                .label {
                    line-height: normal;
                    vertical-align: middle;
                    display: inline-block;
                }

                .icon-telephones {
                    margin: 0 3px 0 -5px;
                }
                .icon-telephones + .element {
                    margin-top: 6px;
                    display: inline-block;
                }
            }
            @include media-breakpoint-up(lg) {
                padding: 0 0 0 16px;
            }
        }

    }
    &.cntLocations .selectable {
        line-height: 40px;
        height: 39px;
        position: relative;
        .area {
            line-height: 40px;
            text-decoration: none;
        }
        &.root {
            //line-height: 75px;
            //height: 75px;
            @include media-breakpoint-up(md) {
                display: none;
            }
            .area {
                //line-height: 75px;
                font-size: 16px;
                font-weight: 600;
                @include media-breakpoint-down(lg) {
                    font-size: 16px;
                }
            }
        }

        .backToRoot {
            position: absolute;
            line-height: 23px;
            text-align: center;

            &:before {
                height: 39px;
            }
        }
        @include media-breakpoint-down(md) {
            &.root {
                line-height: 43px;
                height: 43px;
                .area {
                    line-height: 43px;
                }
            }
        }
    }
    &.cntLocations .cntTreeHeader {
        border-bottom: none;
    }
    .cntTreeHeader .area {
        font-size: 21px;
        line-height: 75px;
        font-weight: normal;
        .selectedItem {
            display: none;
            .name {
                @media only screen and (max-width: 399px) {
                    max-width: 120px;
                }
                @media only screen and (min-width: 400px) and (max-width: 479px) {
                    max-width: 180px;
                }
                @media only screen and (min-width: 480px) and (max-width: 749px) {
                    max-width: 100%;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .cbSidebar .selectedItem {
        display: none;
        @media only screen and (min-width: 750px) {
            display: none !important;
        }
    }

    .goBackBtn {
        display: inline-block;
        position: absolute;
        top: 26px;
        right: 20px;
        color: #2ab6ee;
        font-size: 12px;
        outline: none;
        span {
            display: none;
        }
        .icon {
            background: #2ab6ee;
            color: #fff !important;
            border-radius: 100%;
            width: 23px;
            height: 23px;
            line-height: 23px;
            font-size: 11px;
            &:hover {
                background: #2ab6ee;
            }
        }
        &:before {
            content: "";
            display: inline-block;
            height: 60px;
            width: 20px;
            vertical-align: middle;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */


        }
    }
    &.cntLocations .selected .goBackBtn:before {
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }
    &.cntLocations .selected:hover .goBackBtn:hover:before {
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }

    .selected {
        position: relative;
        &.selectable .area {

        }
        .goBackBtn {
            top: 0;
            right: 0;
            padding: 0 10px;
            //&:before {
            //	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f8f8f8+100&0+0,1+100 */
            //	background: -moz-linear-gradient(left,  rgba(248,248,248,0) 0%, rgba(248,248,248,1) 100%); /* FF3.6-15 */
            //	background: -webkit-linear-gradient(left,  rgba(248,248,248,0) 0%,rgba(248,248,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
            //	background: linear-gradient(to right,  rgba(248,248,248,0) 0%,rgba(248,248,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            //	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#f8f8f8',GradientType=1 ); /* IE6-9 */
            //}
        }
        &:hover, &:focus {
            .goBackBtn:before {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f8ff+0,e2f8ff+100&0+0,1+100 */
                background: -moz-linear-gradient(left,  rgba(226,248,255,0) 0%, rgba(226,248,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(226,248,255,0) 0%,rgba(226,248,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  rgba(226,248,255,0) 0%,rgba(226,248,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e2f8ff', endColorstr='#e2f8ff',GradientType=1 ); /* IE6-9 */

            }
            .goBackBtn:hover:before {
                background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
            }
        }
    }
    .cntTreeHeader .selected {
        background: inherit;
        &.selectable .area {
            color: inherit;
        }
    }
}
.cb-section-top .cntTree {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

@include media-breakpoint-down(sm) {

    .cb-layout-inner .cb-sidebar {
        width: 100%;
        margin: 0 0 -25px;
    }
    .cb-section-top {
        background: #fff;
        height: auto;
    }
    .cb-section-top .selectedItem {
        border: $sec-separator;
    }
    .selectedItem {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        background: #fff;
        position: relative;
        top: 0;
        line-height: 30px;
        height: 30px;
        padding: 0 5px;
        z-index: 0;
        border-radius: $border-radius-lg;
        border: $sec-separator;
        margin: 0 10px 10px 0;
        max-width: 292px;

        .selectedItemLabel {
            display: table;
        }
        .name {
            display: table-cell;
            font-size: 12px;
            color: #adadad;
            vertical-align: middle;
            max-width: 242px;
        }
        .icon {
            color: #adadad;
            font-size: 13px;
            background: #fff;
            padding: 5px;
            display: table-cell;
            vertical-align: middle;
        }
        .icon-pin-dark {
            font-size: 16px;
        }
        .icon-search {
            font-size: 16px;
        }
        &:after {
            border-radius: 0 6px 6px 0;
        }
    }
    .cb-section-top .cntTree {
        //position: absolute;
        width: 50%;
        right: 0;
        //top: 52px;
        z-index: 1;
        border-radius: 0;
        border: none;
        box-shadow: none;
        margin-bottom: 0;
        display: table-cell;
        box-sizing: border-box;
        .layer {
            display: block;
        }
        &.cntCategories .cntTreeHeader {
            border-right: 1px solid #ececec;
        }

        .selectable.root {
            line-height: 43px;
            height: 43px;
        }
        .cntTreeHeader {
            background: #fff;
            border-bottom: 1px solid #ececec;
            border-top: 1px solid #ececec;
            box-sizing: border-box;
            position: relative;
            z-index: 9;
            height: 43px;
            overflow: hidden;
            .area {
                padding: 0;
                font-size: 16px;
                line-height: 43px;
                height: 43px;
                position: relative;
                text-align: center;
                .label {
                    position: static;
                    line-height: 43px;
                    height: 43px;
                    font-size: 14px;
                    vertical-align: inherit;
                    margin-left: -13px;
                }
            }

        }
        .selectable .area:hover,
        .selectable .area:focus {
            background: #fff;
            text-decoration: none;
        }
        .selectable .area .icoCat {
            padding-left: 30px;
        }
        .selectable .area .icon {

        }
        .selected.selectable .area {
            font-weight: normal;
        }
        .selectedLevel {
            display: none;
            ul {
                padding: 0;
            }
            .selectable .label {
                font-size: 13px;
            }
        }
        .selectable.root .label:after {
            position: relative;
            z-index: 1;
            content: "\e90b";
            font-family: 'Conv_cb-icons' !important;
            border: 0;
            width: auto;
            height: auto;
            vertical-align: middle;
            margin: 0 0 0 10px;
            font-size: 12px;
        }

        &.cntLocations .cntTreeHeader .root.selectable .area {
            font-weight: normal;
        }

        &.closed {
            .layer {
                display: none;
            }
            .selectable {
                display: block;
                width: 100%;
            }
            .selectedLevel {
                display: none;
            }
            .selectable .label:after {
                display: none;
            }
            .selectable.root .area .label:after {
                display: inline-block;
            }
            .selected-box {
                z-index: 1;
            }
        }
        &.open {
            width: 100%;
            z-index: 0;
            display: block;
            position: absolute;
            .layer {
                display: block;
            }
            .cntTreeHeader {
                width: 50%;
                text-align: center;
                border-bottom-color: #fff;
                .goBackBtn {
                    display: none;
                }
                .selectedItem {
                    display: none;
                }
            }

            &.cntLocations .cntTreeHeader {
                left: 50%;
                .area {
                    display: inline-block;
                }
            }

            .layer {
                display: none;
            }
            .selectedLevel {
                display: block;
                position: relative;
                z-index: 9;
                top: 0;
                border: 0;
                border-bottom: 1px solid #eae5e5;
            }
            &.cntLocations .selectedLevel {
                top: -3px;
            }
            .selectable.root .label:after {
                display: inline-block;
                content: "\e914";
            }
            .selected-box {
                z-index: 10;
                top: -40px;
                background: #fff;
                height: 100%;
            }
            .selected-box .goBackBtn {
                display: inline-block;
            }
            .selectedLevel {
                border: 1px solid #eae5e5;
                box-sizing: border-box;
                border-top: 0;
                .selectable {
                    height: 60px;
                    max-height: 60px;
                    line-height: 60px;
                }
                .area {
                    font-size: 14px;
                    line-height: 60px;
                    height: 60px;
                    vertical-align: middle;
                    width: 100%;
                    display: inline-block;
                    padding: 0 16px;
                }
            }
            &.cntLocations {
                .selectedLevel {
                    .selectable {
                        height: 40px;
                        max-height: 40px;
                        line-height: 40px;
                        &.root {
                            height: 44px;
                            max-height: 44px;
                            line-height: 44px;
                        }
                    }
                    .area {
                        font-size: 16px;
                        line-height: 40px;
                        height: 40px;
                        vertical-align: middle;
                        width: 100%;
                        display: inline-block;
                        padding: 0 16px;
                    }
                    .headerItem.first {
                        border-top: 0;
                        margin-top: -3px;
                    }
                    .headerItem .area {
                        padding: 0;
                    }
                }
            }

        }
    }
    .selectedItem + .cntTree {
        top: 50px;
        border-top: $sec-separator;
        & + .cntLocations {
            margin-top: -9px;
        }
    }
}

// zmiana koloru ikonek
.cntTree {
    .selectedLevel {
        .selectable:nth-child(1) .icon,
        .selectable:nth-child(5) .icon,
        .selectable:nth-child(9) .icon {
            color: #91d1e0;
        }
        .selectable:nth-child(2) .icon,
        .selectable:nth-child(6) .icon {
            color: #fa9e7c;
        }
        .selectable:nth-child(3) .icon,
        .selectable:nth-child(7) .icon {
            color: #9fdcb1;
        }
        .selectable:nth-child(4) .icon,
        .selectable:nth-child(8) .icon {
            color: #a28f8f;
        }
    }


    //.icon-loisirs-et-divertiss,
    //.icon-elektronik {
    //    color: #91d1e0;
    //}
    //.icon-voitures-et-motos,
    //.icon-informatique-et-mult {
    //    color: #fa9e7c;
    //}
    //.icon-for-barn,
    //.icon-mode {
    //    color: #9fdcb1;
    //}
    //.icon-hem-inredning,
    //.icon-events {
    //    color: #a28f8f;
    //}
}
