@import './lib/init';
@import './common';
@import './components/footer';
@import './components/feed/grid-list';
@import './components/feed/grid-item';
@import './components/feed/main-menu';
@import './components/top-section';

@include media-breakpoint-up(lg) {
    .cb-content {
        margin: 123px auto 20px;
    }
    .cb-app-banner + .cb-header ~ .cb-content {
        margin-top: (60px + 20px) auto 20px;
    }
}

@include media-breakpoint-only(md) {
    .cb-header ~ .cb-content {
        margin: (60px + 20px) auto 20px;
        padding: 0;
    }
    .cb-app-banner + .cb-header ~ .cb-content {
        margin-top: (60px + 20px) auto 20px;
        padding: 0;
    }
}


