.cb-footer {
    text-align: center;
    color: $gray-light;
    font-weight: 300;
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }
}
.cb-footer .footer-copyrights {
    min-height: 38px;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    display: table;
    width: 100%;
    padding: 15px 0 19px;
    border-top: 1px solid #e4e4e4;
    .copyright-text {
        margin: 0 10px;
    }
}
.cb-footer .footer-section {
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    text-align: center;
    padding: 20px 0;

    .container {
        position: relative;
    }
}
.cb-footer .footer-menu {
    margin: 2px 0 3px;
    max-width: 300px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;

    .footer-menu-item {
        display: inline-block;
        font-size: 16px;
        line-height: normal;
        padding: 0 10px;
        border-left: 1px solid #d1d1d1;
    }
    .footer-menu-item:first-child {
        border-left: 0;
    }
    .footer-menu-link {
        color: $gray-light;
    }
}
.cb-footer .footer-main {
    min-height: 134px;
}
.cb-footer .footer-aside {
    width: 100%;
    max-width: 350px;
    position: absolute;
    right: 0;
    top: 0;

    .ourApp {
        text-align: center;
        margin: 0 20px 0 0;
        display: inline-block;
    }
    .app-badge {
        display: block;
        margin: 0 16px 10px 0;
    }

    .socialActions {
        margin-right: 20px;
        height: 39px;
        display: inline-block;
        vertical-align: top;

        .footerIcon {
            display: inline-table;
            vertical-align: middle;
            width: 34px;
            height: 34px;
            line-height: 34px;
            margin-left: 10px;
            border-radius: 100%;
            text-align: center;
            text-decoration: none;
        }
        .icon {
            color: #fff;
            font-size: 20px;
            vertical-align: middle;
            display: table-cell;
        }
        .footerFbIcon {
            background-color: #3b5998;
        }
        .footerInstagramIcon {
            background-color: #5b8baa;
        }
        .footerYTIcon {
            background-color: #e7282d;
        }
    }
}

.cb-footer .logo {
    display: block;
    margin: 0 auto;
    background: url(../img/logo-orange.png) no-repeat 50% 50%;
    background-size: 189px auto;
    padding: 30px 0;
}

@include media-breakpoint-down(md) {
    .cb-footer {
        text-align: left;
    }
    .cb-footer .footer-menu {
        float: left;
        ul {
            margin: 0 10px;
            padding: 0;
            text-align: left;
        }
    }
}