.appsTopBanner {
    @include linear-gradient(to top, #f7f7f7 0%, #fff 100%);

    height: 160px;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    outline: none;

    .appsTopBannerWrp {
        background: url(../img/apps-top-bg.png) repeat-x 0 0;
        height: 100%;
    }
    a {
        outline: none;
    }
}

.appsTopBannerInner {
    height: 100%;
    max-width: $max-width;
    margin: 8px auto 0;
    position: relative;
    text-align: center;
}
.appsTopBannerHeader {
    font: 400 34px/normal 'Open Sans', Arial, sans-serif;
    color: $sec-header-color;
    margin-top: 8px;
    span,
    strong {
        display: block;
        text-align: left;
    }
}

.appsTopBannerBtn {
    display: inline-block;
    width: 141px;
    height: 42px;
}
.ios .googlePlayBtn,
.android .appStoreBtn {
    display: none;
}
.appsTopBanner .phonesImg {
    position: absolute;
    width: 225px;
    height: 158px;
    background: url(../img/app-phones.png) no-repeat 0 0;
    background-size: 225px 158px;
    bottom: 0;
    left: 50%;
    margin-left: -387px;
}


.sendMeAppLayerForm {
    .cntWindow {
        min-width: 0;
        width: 655px;
    }
    .title {
        color: #45536a;
        font-size: 24px;
        line-height: 34px;
        padding: 19px 28px 23px;
        text-align: left;
    }
    .closeBtn {
        display: none;
    }
    .sendMeAppLayerFormBody {
        background: $primary-color url(../img/send-me-app-bg.png) repeat-x 0 0;
        padding: 13px 20px 1px 262px;
        position: relative;
        &:before {
            display: block;
            content: '';
            width: 217px;
            height: 157px;
            position: absolute;
            background: url(../img/app-phones.png) no-repeat 0 0;
            background-size: 100% auto;
            top: -17px;
            left: 20px;
        }
        .input {
            display: block;
            max-width: 370px;
            width: 100%;
            margin-bottom: 19px;
        }
    }
    .btnWrapper {
        padding: 30px 20px 20px;
    }

    @include media-breakpoint-up(md) {
        .cntWindow {
            width: 100%;
        }
    }
}


@include media-breakpoint-down(sm) {
    .appsTopBanner {
        height: 133px;
        border-bottom: 1px solid $separator-color;
        box-sizing: border-box;
    }
    .appsTopBannerInner {
        width: 100%;
        height: 110px;
        background: none;
        top: 18px;
    }
    .phonesImg {
        position: absolute;
        width: 135px;
        height: 110px;
        background: url(../img/app-phones.png) no-repeat 5px 0;
        background-size: auto 135px;
    }
    .buttons {
        margin-left: 135px;
        text-align: center;
    }
    .appsTopBannerHeader {
        display: block;
        margin: 4px 0 0 135px;
        strong {
            font-size: 20px;
            display: inline-block;
            text-align: center;
            letter-spacing: -0.4px;
        }
    }
    .appsTopBanner .closeBtn {
        font-size: 11px;
        right: 5px;
        top: -21px;
    }
    .appsTopBannerBtn {
        margin: 7px 0 0 0;
        display: inline-block;
    }
    .other .appsTopBannerBtn,
    .desktop .appsTopBannerBtn {
        display: none;
    }

    .appsTopBanner.small {
        height: 36px;
        line-height: 36px;

        .phonesImg {
            width: 50px;
            height: 32px;
            background-size: auto 41px;
        }
        .appsTopBannerHeader {
            height: 36px;
            display: block;
            vertical-align: middle;
            margin-left: 50px;
            float: left;
            margin-top: -2px;
            line-height: 36px;
            strong {
                margin: 0 0 0 -48px;
                font-size: 17px;
                text-align: left;
                display: block;
            }
        }
        .showMoreBtn {
            display: block;
            float: left;
            font-size: 14px;
            padding: 0 8px;
            line-height: 23px;
            height: 23px;
            margin-top: 3px;

        }
        .appsTopBannerInner {
            display: block;
            margin: 2px auto 0;
            top: 0;
        }
    }
}

@media only screen and (min-width: 750px) {
    .appsTopBannerInner {
        background-position: 20px 0;
        text-align: left;
    }
    .appsTopBanner.small .appsTopBannerInner {
        background-position: 20px 0;
    }
    .appsTopBanner .phonesImg {
        left: 62px;
        margin-left: 0;
    }
    .appsTopBannerHeader {
        height: 76px;
        display: inline-block;
        margin-left: 306px;
        strong {
            display: block;
            height: 35px;
            margin: 0;
            font-size: 22px;
            text-align: left;
        }
        span {
            margin: 0;
            font-size: 16px;
            text-align: left;
        }
    }
    .appsTopBanner.small .appsTopBannerHeader strong {
        margin: 0 0 0 120px;
        font-size: 25px;
    }
    .appsTopBanner .closeBtn {
        font-size: 13px;
        right: 6px;
        top: 11px;
    }
    .buttons {
        margin-top: 6px;
        .appStoreBtnBtn {
            margin-left: 306px;
        }
    }
    .appsTopBannerBtn {
        margin: 0;
    }
    .appsTopBanner .appStoreBtn {
        margin-right: 23px;
        margin-left: 305px;
    }
    .appsTopBanner.android .googlePlayBtn {
        margin-left: 305px;
    }
}

@media only screen and (min-width: 1100px) {
    .appsTopBannerInner {
        text-align: center;
    }
    .appsTopBannerHeader {
        height: 76px;
        display: inline-block;
        strong {
            height: 40px;
            margin: 0 0 5px 0;
            font-size: 38px;
            font-weight: 400;
            display: block;
        }
        span {
            margin: 5px 0 5px 0;
            font-size: 24px;
        }
    }
    .appsTopBanner .appStoreBtn {
        margin-right: 23px;
        margin-left: 324px;
    }
    .appsTopBanner.small .appsTopBannerInner {
        background-position: 0 0;
    }
    .appsTopBanner .phonesImg {
        left: 50%;
        margin-left: -387px;
    }
}