@import './top-banner';

.cb-section-top {
    margin-bottom: 40px;
}

@include media-breakpoint-down(md) {
    .selectedItemWrapper {
        display: table-row;

        .inner {
            display: block;
            padding: 10px 0 10px 10px;
        }

        .selectedItem {
            float: left;
        }

    }

}


@include media-breakpoint-up(md) {
    .cb-section-top .cntTree {
        display: none;
    }
}
@include media-breakpoint-down(sm) {

    .cb-section-top {
        position: relative;
        z-index: 1;
        top: -60px;
        margin-bottom: -51px;
        width: 100%;
    }

    .cb-section-top .menu-wrapper {
        display: table;
        width: 100%;
    }

    .cb-section-top .appsTopBanner {
        display: none;
    }
}