<div class="ad" data-lazyad>
	<script type='text/lazyad'>
				  <!--

				<script type="text/javascript">$sltCfg = {"101":["desk"],"102":["desk"],"103":["desk"],"104":["desk"],"112":["mobi"],"116":["mobi"],"201":["desk"],"202":["desk"],"203":["desk"],"212":["mobi"],"216":["mobi"]}</script>				  <script type='text/javascript' charset='utf-8' src='https://go.eu.bbelements.com/bb/bb_one2n.js'></script>
	<script type='text/javascript'>

		if (typeof bmone2n !== 'undefined') {
			var layoutWidth = document.getElementById("bodyId").offsetWidth;
			lCols = 0;

			if (layoutWidth >= 992) {
				lCols = 3;
				viewportType4Ads = 'desk';
			} else if (layoutWidth >= 768) {
				lCols = 2;
				viewportType4Ads = 'tabl';
			} else {
				lCols = 1;
				viewportType4Ads = 'mobi';
			}

			var bbkeywords = '';
			var bburlparam = 'cols=' + lCols + '&breadcrumb=_hela-sverige.php';

			if (typeof $sltCfg !== 'undefined') {
				for (var i in $sltCfg) {
					var id = 'id_' + i,
							slot = document.getElementById(id);

					if ($sltCfg[i].indexOf(viewportType4Ads) !== -1 && slot) {
						tmpString = String(slot.innerHTML);
						if (tmpString != '' && tmpString.indexOf('bmone2n') != -1) {
							tmpID = String(tmpString.replace('<div id="bmone2n-', '').replace('"></div>', ''));

							bmone2n.addPosition(tmpID, '');

						}
					}
				}
				bmone2n.getAd('go.eu.bbelements.com', bbkeywords, '' + (typeof (bburlparam) == 'string' ? '&' + bburlparam : ''), 'utf-8');
			}

		}
	</script>
	-->
	</script>
	</div>
	<div class="ad" data-lazyad>
	<script type="text/lazyad">
			<!--
			<script type='text/javascript'>
	if (typeof bmone2n !== 'undefined') {

		if (typeof $sltCfg !== 'undefined') {
			for (var i in $sltCfg) {
				var id = 'id_' + i,
						slot = document.getElementById(id);

				if ($sltCfg[i].indexOf(viewportType4Ads) !== -1 && slot) {
					tmpString = String(slot.innerHTML);
					if (tmpString != '' && tmpString.indexOf('bmone2n') != -1) {
						tmpID = String(tmpString.replace('<div id="bmone2n-', '').replace('"></div>', ''));

						try {

							var num = tmpID.trim(),
								tid = 'bmone2t-' + num,
								scriptContent = 'bmone2n.makeAd("' + num + '");',
								html = '<div id="' + tid + '" style="display:none"'+'><scr'+'ipt>' + scriptContent + '</scr'+'ipt></div>';

							document.write(html);

						} catch (er) {
							if (typeof ErrorLogger !== 'undefined') {
								new ErrorLogger(er);
							} else {
								if (window.console !== 'undefined') console.log(er);
							}

						}

						slot.className = slot.className.replace('hidden','');

						var event = document.createEvent('Event');
						event.initEvent('Ad_' + id + '_Initiated', true, true);
						document.body.dispatchEvent(event);

						if (typeof window.console !== 'undefined' && cbApp.appMode === 'development') {
							console.log('ad ' + id + ' initiated');
						}

					}
				}
			}
		}
	}
	</script>
	-->
	</script>
	</div>
	<div class="ad" data-lazyad>
	<script type='text/lazyad'>
			<!--
			<script type='text/javascript'>
	if (typeof bmone2n !== 'undefined') {
		try {
			bmone2n.moveAd();
		} catch (e) {
			if (typeof ErrorLogger !== 'undefined') {
				new ErrorLogger(e);
			} else {
				if (window.console !== 'undefined') console.log(e);
			}

		}
		if (typeof jQuery !== 'undefined' ||typeof $ !== 'undefined') $(window).trigger('adsReady');
	}
	</script>
	-->
	</script>
	</div>