<footer class="cb-footer">

	<div class="footer-section footer-copyrights">
		<div class="container">
			<p class="copyright-text">Vendez gratuitement grâce la meilleure application de bonnes affaires au Maroc et profitez de plein d'annonces  de qualité autour de vous au quotidien!</p>
		</div>
	</div>

	<div class="footer-section footer-main clearfix">
		<div class="container">
			<section class="footer-menu">
				<nav class="footer-menu-navigation">
					<ul>
						<li class="footer-menu-item">
							<a class="footer-menu-link" href="/info/service_client/faq">Aide</a>
						</li>

						<li class="footer-menu-item">
							<a class="footer-menu-link" href="/info/service_client/conditions-dutilisation">Conditions d'utilisation</a>
						</li>
					</ul>
				</nav>
			</section>

			<aside class="footer-aside">
				<section class="ourApp">
					<a href="https://itunes.apple.com/se/app/citiboard-ab/id628478527?mt=8" target="_blank" class="app-badge cbAppAppStore" title="På App Store">
						<img src="/assets/img/app-store-badge.png"
							 srcset="/assets/img/app-store-badge@2x.png 2x, /assets/img/app-store-badge@3x.png 3x"
							 alt="På App Store">
						<span class="sr-only">På App Store</span>
					</a>
					<a href="http://play.google.com/store/apps/details?id=se.citiboard" target="_blank" class="app-badge cbAppGooglePlay" title="På Google Play">
						<img src="/assets/img/google-play-badge.png"
							 srcset="/assets/img/google-play-badge@2x.png 2x, /assets/img/google-play-badge@3x.png 3x"
							 alt="På Google Play">
						<span class="sr-only">På Google Play</span>
					</a>
				</section>
				<section class="socialActions">
					<a href="https://www.facebook.com/babaliste" class="footerFbIcon footerIcon" target="_blank"><i class="icon icon-fb"></i><span class="sr-only">Facebook</span></a>
					<a href="https://www.instagram.com/babaliste/" class="footerInstagramIcon footerIcon" target="_blank"><i class="icon icon-instagram"></i><span class="sr-only">Instagram</span></a>
					<a href="https://www.youtube.com/channel/UCC3BNHR_uBpj7WSDhApfnHQ" class="footerYTIcon footerIcon" target="_blank"><i class="icon icon-yt"></i><span class="sr-only">YouTube</span></a>
				</section>
			</aside>

		</div>

	</div>
	<section class="company">
		<a class="logo" href="/"></a>
	</section>




	<img src="/img/spacer.png" class="spacer" width="1px" height="1px">


</footer>