<script type="text/javascript">
	var content = document.getElementById('cbContent'),
			event = document.createEvent('Event');

	window.calculateImgHeight = function (item) {
		var data = item.dataset,
			linkEl = item.querySelector('.js-pictureLink'),
			ratio = data.picRatio,
			w = linkEl.innerWidth || linkEl.clientWidth,
			picHeight = w / ratio;

		if (ratio) {
			linkEl.setAttribute('style', 'height: ' + picHeight + 'px');
			linkEl.className = linkEl.className.replace('not-ready', '');
		}
	};

	window.calculatePlaceholders = function (items, container) {

		for (var i in items) {

			if (typeof items[i] === 'object') {

				var item = items[i];

				window.calculateImgHeight(item);

				if (i >= items.length - 1) {

					if (window.cbApp.hasOwnProperty('GridLayout')) {
						window.cbApp.GridLayout.getBricks().layout();
					}

					container.className = container.className + ' js-masonry-ready';
					event.initEvent('masonryIsReady', true, true);
					document.dispatchEvent(event);

				}

				if (!item.dataset.picRatio) {
					img = new Image();

					img.onload = function () {
						if (window.cbApp.hasOwnProperty('GridLayout')) {
							window.cbApp.GridLayout.getBricks().layout();
						}
					}
					img.src = item.querySelector('img').src;
				}

			}
		}

	};

	var gridInit = function(evt){

		if (evt.target.readyState === "interactive" || content) {

			if (content) {
				var container = document.getElementById('cbContent').querySelector('.masonry-layout'),
						items, t;

				if (container) {

					items = container.querySelectorAll('.gridItem');

					try {

						var parent = container.parentNode;

						parent.className = parent.className.replace('processing', '');

						window.calculatePlaceholders(items, container);

					} catch (err) {
						if (typeof console !== 'undefined' && typeof console.warn == 'function') console.warn(err);
					}

				}
			}

		}
	}

	if (document.addEventListener) {
		document.addEventListener('readystatechange', gridInit, false);
	} else if (document.attachEvent) {
		document.attachEvent('onreadystatechange', gridInit);
	} else {
		document.onreadystatechange = gridInit;
	}
</script>
<script src="/assets/js/cbApp.grid.js"></script>
