<header id="cbHeader" class="cb-header navbar navbar-default navbar-fixed-top">
	<div class="container cb-header-actions">
		<div class="row">
			<div class="col col-md-12 col-lg-2 col-sm-12 navbar-header">
				<button type="button" id="showSideMenuBtn" class="navbar-toggle collapsed btn-link hidden-lg-up no-hover" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<i class="icon icon-mobile-menu"><span class="sr-only">Toggle navigation</span></i>
				</button>
				<a class="navbar-brand logo no-hover" href="/"><span class="sr-only">Citiboard.se</span></a>

				{{#ifAndroid data.md}}
				<a href="https://play.google.com/store/apps/details?id=se.citiboard" class="btn btn-link hidden-lg-up nohover btn-get-mobile-app" target="_blank">
					<i class="icon icon-android">
						<span class="sr-only">Download app</span>
					</i>
				</a>
				{{/ifAndroid}}

				{{#ifiOS data.md}}
					<a href="https://itunes.apple.com/se/app/citiboard-ab/id628478527?mt=8" class="btn btn-link hidden-lg-up nohover btn-get-mobile-app" target="_blank">
						<i class="icon icon-apple">
							<span class="sr-only">Download app</span>
						</i>
					</a>
				{{/ifiOS}}

				<button id="showSearchFormBtn" class="btn hidden-lg-up btn-link no-hover btn-search-activator"><i class="icon icon-search"></i></button>
			</div>
			<div id="searchFormWrp" class="col col-lg-10 hidden-md-down search-bar-wrp">
				<form id="searchForm" class="search-form form-group row no-gutters">
					<div class="col inputWrp col-lg-10">
						<div class="sr-only" id="searchInputLabel">Sök efter...</div>
						<input type="search" class="form-control search search-input" id="searchInput" autocomplete="off" name="inp_text" placeholder="Sök efter..." aria-labelledby="searchInputLabel">
						<button type="reset" id="unsetPhrase" class="btn no-hover unset-phrase invisible">
							<span class="unset-phrase-btn">
								<i class="icon icon-x"></i>
							</span>
						</button>
					</div>
					<div class="col search-btn-wrp col-lg-2">
						<button type="submit" class="btn btn-block search-btn"><span>Sök</span></button>
					</div>
				</form>
			</div>
			<div class="col col-lg-5 col-xl-4 hidden-md-down float-md-right user-actions-wrp">
				<button class="btn large btn-default login-btn login js_show-door-layer">
					<strong>Logga in</strong> <i class="icon icon-login" aria-hidden="true"></i>
				</button>
				<button id="addOfferBtn" class="btn large btn-secondary add-offer-btn add_new_item_btn js_show-door-layer">Lägg in annons gratis <i class="icon icon-camera" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
	{{{ data.sideMenu }}}
</header>
