<section id="itemListSort" class="itemListSort dropdown">
	<button class="btn-tiny btn-link dropdown-toggle activator" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Sortera<em class="which">: Aktivitet</em>
	</button>
	<div class="dropdown-menu" aria-labelledby="itemListSortMenu">
		<a class="dropdown-item selected" href="/maroc-entier?sort=inp_srt_activity" rel="noindex, follow"><i class="icon icon-angle-down" aria-hidden="true"></i> <span>Aktivitet</span></a>

		<a class="dropdown-item" href="/maroc-entier?sort=inp_srt_newest" rel="noindex, follow"><span>Senaste</span></a>

		<a class="dropdown-item" href="/maroc-entier?sort=inp_srt_oldest" rel="noindex, follow"><span>Äldsta</span></a>

		<a class="dropdown-item" href="/maroc-entier?sort=inp_srt_price_asc" rel="noindex, follow"><span>Lägsta pris</span></a>

		<a class="dropdown-item" href="/maroc-entier?sort=inp_srt_price_desc" rel="noindex, follow"><span>Högsta pris</span></a>

		<a class="dropdown-item" href="/maroc-entier?sort=inp_srt_comments" rel="noindex, follow"><span>Flest kommentarer</span></a>

	</div>
</section>
