<div id="sideMenu" class="side-menu" aria-hidden="true">
	<button type="button" id="sideMenuCloseBtn" class="btn close btn-close" aria-label="Close" role="button"><i class="icon icon-x" aria-hidden="true"></i></button>
	<div class="user-box">
		<div class="avatar">

			<a class="avatar-link js_show-door-layer">
				<picture class="avatar-picture">
					<source srcset="https://babalistestatic.blob.core.windows.net/110/img/guest_avatar.png 1x,
											https://babalistestatic.blob.core.windows.net/110/img/responsive/guest_avatar@2x.png 2x,
											https://babalistestatic.blob.core.windows.net/110/img/responsive/guest_avatar@3x.png 3x">
					<img class="avatar-img" src="https://babalistestatic.blob.core.windows.net/110/img/guest_avatar.png" alt="">
				</picture>
			</a>

		</div>
		<h3 class="login-text-info">
			<span class="js_show-door-layer">Se connecter ou créer un compte gratuitement</span>
		</h3>
	</div>
	<ul class="side-menu-list">
		<li class="side-menu-item"><a class="side-menu-item-link" href="/"><i class="icon icon-home" aria-hidden="true"></i><span>Parcourir</span></a></li>
		<li class="side-menu-item">
			<a class="side-menu-item-link js_show-door-layer add-offer-btn">
				<i class="icon icon-camera" aria-hidden="true"></i><span>Vendre vos biens</span>
			</a>
		</li>
		<li class="side-menu-item" id="sideMenuChatItem">
			<a class="side-menu-item-link js_show-door-layer">
				<i class="icon icon-chat" aria-hidden="true"></i><span>Chat</span>
			</a>
		</li>
		<li class="side-menu-item">
			<a class="side-menu-item-link js_show-door-layer">
				<i class="icon icon-user" aria-hidden="true"></i><span>Mon profil</span>
			</a>
		</li>

		<li class="side-menu-item">
			<a class="side-menu-item-link" href="http://babaliste.com/info/service_client/faq"><i class="icon icon-help" aria-hidden="true"></i><span>Aide</span></a>
		</li>
		<li class="side-menu-item separated">
			<a class="side-menu-item-link login-btn js_show-door-layer" data-uri="/fb_disconnect">
				<i class="icon icon-login" aria-hidden="true"></i><span>Logga in</span>
			</a>
		</li>
	</ul>

	{{#ifAndroid data.md}}
		<a href="https://play.google.com/store/apps/details?id=se.citiboard" class="btn btn-secondary btn-large get-app-btn" target="_blank">
			<i class="icon icon-android" aria-hidden="true"></i> Télécharger l'application
		</a>
	{{/ifAndroid}}

	{{#ifiOS data.md}}
		<a href="https://itunes.apple.com/se/app/citiboard-ab/id628478527?mt=8" class="btn btn-secondary btn-large get-app-btn" target="_blank">
			<i class="icon icon-apple" aria-hidden="true"></i> Télécharger l'application
		</a>
	{{/ifiOS}}

</div>
<div id="sideMenuLayer" class="layer"></div>