<section id="locationMenu" class="cntTree cntLocations hidden-md-up closed">
	<header class="cntTreeHeader">
		<strong class="root selectable">
			<a href="/vetements-et-accessoires?inp_text=Sony" class="area">
				<span class="label arrADw01 arrC01">Près de chez vous</span>
			</a>
		</strong>
	</header>
	<nav class="selectedLevel">
		<ul>
			<li class="headerItem"><span class="area">Top Villes</span></li>
			<li class="selectable">
				<a class="area" href="/grand-casablanca/casablanca/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Casablanca</span>
				</a>
			</li>
			<li class="selectable selected">
				<a class="area" href="/rabat-sale-zemmour-zaer/rabat/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Rabat</span>
				</a>
				<a class="goBackBtn backToRoot" href="/vetements-et-accessoires?inp_text=Sony"><i class="icon icon-x"></i></a>
			</li>
			<li class="selectable">
				<a class="area" href="/marrakech-tensift-el-haouz/marrakech/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Marrakech</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/souss-massa-draa/agadir/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Agadir</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/tanger-tetouan/tanger/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Tanger</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/oriental/oujda/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Oujda</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/fes-boulemane/fes/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Fès</span>
				</a>
			</li>


			<li class="headerItem"><span class="area">Top Régions</span></li>
			<li class="selectable">
				<a class="area" href="/grand-casablanca/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Grand Casablanca</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/rabat-sale-zemmour-zaer/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Rabat-Salé-Zemmour-Zaer</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/marrakech-tensift-el-haouz/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Marrakech-Tensift-El Haouz</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/souss-massa-draa/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Souss-Massa-Drâa</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/tanger-tetouan/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Tanger-Tetouan</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/oriental/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Oriental</span>
				</a>
			</li>
			<li class="selectable">
				<a class="area" href="/fes-boulemane/vetements-et-accessoires?inp_text=Sony">
					<span class="label arrADw01 arrC01 element">Fès-Boulemane</span>
				</a>
			</li>
		</ul>
		<button class="btnS01 btnC03 closeBtn">close</button></nav>
</section>