<div id="appsTopBanner" class="appsTopBanner{{getMobileClass data.md}} hidden-sm-down">
	<div class="appsTopBannerWrp">
		<div class="appsTopBannerInner">
			<div class="phonesImg"></div>
			<h3 class="appsTopBannerHeader"><strong>Télécharger l’application Babaliste</strong><span>et Publiez vos annonces en moins de 30 secondes!</span></h3>
			<div class="buttons">
				<a href="https://itunes.apple.com/se/app/citiboard-ab/id628478527?mt=8" class="appsTopBannerBtn appStoreBtn">
					<img src="/assets/img/app-store-badge.png"
						 srcset="/assets/img/app-store-badge@2x.png 2x, /assets/img/app-store-badge@3x.png 3x"
						 alt="På App Store">
					<span class="sr-only">Hämta i App Store</span>
				</a>
				<a href="http://play.google.com/store/apps/details?id=se.citiboard" target="_blank" class="appsTopBannerBtn googlePlayBtn">
					<img src="/assets/img/google-play-badge.png"
						 srcset="/assets/img/google-play-badge@2x.png 2x, /assets/img/google-play-badge@3x.png 3x"
						 alt="På Google Play">
					<span class="sr-only">PÅ Google Play</span>
				</a>
			</div>
		</div>
	</div>
</div>