<aside class="cb-section cb-section-top">
	{{#if data.showSelectedWrapper}}
		<div class="selectedItemWrapper hidden-sm-up">
			<div class="inner">
				<a class="selectedItem" href="/rabat-sale-zemmour-zaer/rabat?inp_text=Sony">
					<span class="selectedItemLabel"><span class="name">Vêtements et Accessoires</span> <i class="icon icon-x"></i></span>
				</a>

				<a class="selectedItem" href="/vetements-et-accessoires?inp_text=Sony">
					<span class="selectedItemLabel"><i class="icon icon-pin-dark" aria-hidden="true"></i><span class="name">Rabat</span> <i class="icon icon-x"></i></span>
				</a>

				<a class="selectedItem searchedItem" href="/">
					<span class="selectedItemLabel searchedItemLabel"><i class="icon icon-search" aria-hidden="true"></i><strong class="name">Sony</strong> <i class="icon icon-x"></i></span>
				</a>
			</div>
		</div>
	{{/if}}

	<div class="menu-wrapper hidden-sm-up">
	{{{ data.categories }}}
	{{{ data.locations }}}
	</div>
	{{{ data.topBanner }}}

</aside>